
/* core font  */
.tittle{
    font-family: 'GoogleSans-Regular';
    font-size: 20px;
    font-weight: bold;
}

.tittle-modal{
    font-family: 'GoogleSans-Regular';
    font-size: 15px;
    font-weight: bold;
}
/* end core font */


/* core align text */
.txt-align-right{
    text-align: right !important;
}

.txt-align-left{
    text-align: left !important;
}
.txt-align-center{
    text-align: center !important;
}
/* end core align text */