/* core table */
.tbl{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}

.tbl th, td{
    border-bottom: 1px solid #e5e5e5;
    height: 48px;
    padding: 0 10px;
    text-align: left;
}

.tbl th>i{
    padding: 0 8px;
}

.tbl-striped tbody tr:nth-child(odd){
    background-color: #e5e5e5;
}
/* end core table */