@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body{
    margin: 0;
    line-height: 1.5;
    font-size: 15px;
    font-family : 'Roboto', sans-serif;
    font-weight: 400;
    /* background-color: #000000; */
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

.hidden{
    display: none !important;
}
.divide{
    background-color: #888888;
    width: 100%;
    height: 1px;
    margin: 40px 0;
}
.section {
    /* background-color: #f2f2fc; */
    min-height: 100vh;
    display: block;
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title{
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
}
.section-title h2{
    font-size: 55px;
    color: #000000;
    font-weight: 800;
    position: relative;
}
.main-content {
    padding-left: 510px;
    height: 1000px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.title{
    font-size: 40px;
    color: #000000;
    font-weight: 800;
    position: relative;
    /* background-color: red; */
    display: inline-block;
    margin-bottom: 30px;
}
h4{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}

.btn{
    color: #00c483;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #00c483;
    padding : 5px 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    display: inline-block;
}
.btn:hover{
    background-color: #00c483;
    color: #ffffff;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
.enabled{
    color: #888888;
}
.disabled{
    color: #000000;
}
/* Main Container */

/* Aside */
.aside {
    width: 70px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    /* border-right: 1px solid #e8dfec; */
    /* padding: 30px; */
}
.aside .menu-icon{
    height: 70px;
    width: 70px;
    /* border: 1px solid #d4d4e3; */
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    background-color: #00c483;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
}
.aside .menu-icon span {
    height: 2px;
    width: 25px;
    display: inline-block;
    position: relative;
}

.aside .menu-icon span::before {
    content: '';
    height: 2px;
    width: 25px;
    position: absolute;
    top: 7px;
    left: 0;
}

.aside .menu-icon span::after {
    content: '';
    height: 2px;
    width: 25px;
    position: absolute;
    top: -7px;
    left: 0;
}

.aside .menu-icon span,
.aside .menu-icon span::before,
.aside .menu-icon span::after{
    background-color: #ffffff;
}

.aside .nav {
    /* background-color: red; */
    list-style: none;
    margin: 80px 0;
    height: 70%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside .nav li,
.aside .down-cv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside .nav li a,
.aside .down-cv a {
    font-size: 25px;
    color: #888888;
    text-decoration: none;
    line-height: 60px;
    display: block;
    font-weight: 500;
}

.aside  .nav li a.active,
.aside .down-cv a.active{
    color:#00c483;
}

.aside .nav li a:hover{
    color: #00c483;
}
/* Avatar */
.avatar{
    margin-left: 70px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    text-align: center;
    
}
.avatar img{
    height: 100vh;
}
.avatar .intro{
    margin-top: -300px;
}
.avatar .intro h1{
    font-size: 50px;
    line-height: 2;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
}
.avatar .intro p{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    line-height: 22px;
    color: #00c483;
}
.avatar .intro .social-links{
    margin-top: 25px;
}
.avatar .intro .social-links a{
    display: inline-block;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    margin: 0 4px;
    text-decoration: none;

}
.avatar .intro .social-links a:hover{
    color: #00c483;
}
/* Main Content */
.home{
    padding: 0 100px;
}
.home .about-content {
    margin-top: 30px;
}
.home .about-content .about-text{
    /* background-color: red; */
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
}
.home .about-content .about-text h3{
    color : #888888;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.home .about-content .about-text h3 span{
    color : #00c483;
    margin: 0 5px;
}
.home .about-content .about-text p{
    color : #888888;
}
/* Services */
.home .about-content .services{
    /* background-color: red; */
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
    /* background-color: red; */
}
.home .about-content .services .service-content .service-item{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin : 20px 0;
}
.home .about-content .services .service-content .service-item i{
    font-size: 25px;
    color: #00c483;
    margin-bottom: 10px;
}

.home .about-content .services .service-content .service-item p{
    color: #888888;
}
/* My Pricing  */
.home .about-content .pricing{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
}
.home .about-content .pricing .pricing-content .pricing-item{
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
}
.home .about-content .pricing .pricing-content .pricing-item p{
    color: #00c483;
    font-size: 50px;
    font-weight: 800;
}
.home .about-content .pricing .pricing-content .pricing-item p span{
    font-size: 16px;
    font-weight: 800;
}
.home .about-content .pricing .pricing-content .pricing-item ul{
    list-style: none;
    padding-bottom: 20px;
}
.home .about-content .pricing .pricing-content .pricing-item ul li{
    display: block;
    padding: 10px;
}
/* Principal facts */
.home .about-content .facts{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
}
.home .about-content .facts .fact-content .fact-item{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
}
.home .about-content .facts .fact-content .fact-item .num{
    font-size: 25px;
    color: #00c483;
    font-weight: 800;
}
.home .about-content .facts .fact-content .fact-item .name{
    font-size: 12px;
    color: #000000;
    font-weight: 800;
}