@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');

/* General Style */

body {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

 ::before,
 ::after {
    box-sizing: border-box;
}

.section {
    background-color: #f2f2fc;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    /* background-color: gray; */
    
}
.section-title h2{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    /* background-color: blue; */
}
.padd-15{
    padding-right: 15px;
    padding-left: 15px;
}
.container {
    margin: 0 auto;
    max-width: 1100px;
    /* background-color: red; */
    /* width: 100%; */
}
.hidden{
    display: none !important;
}

.main-content {
    padding-left: 270px;
}


/* Aside */

.aside {
    width: 270px;
    /* background-color: red; */
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border-right: 1px solid #e8dfec;
    padding: 30px;
}

.aside .logo {
    padding: 30px 0;
}

.aside .logo a {
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    background-color: #ededed;
    position: relative;
    padding: 0 10px;
    line-height: 50px;
}

.aside .logo a::before {
    content: '';
    height: 20px;
    width: 20px;
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    height: 20px;
    width: 20px;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid #d4d4e3;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 30px;
    z-index: 11;
    border-radius: 5px;
    background-color: #fdf9ff;
    /* display: -ms-flexbox;
    display: flex; */
    display: none;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav {
    /* background-color: red; */
    list-style: none;
    margin: 80px 0;
    padding: 0;
}

.aside .nav li {
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    color: #302e4d;
    text-decoration: none;
    line-height: 45px;
    display: block;
    border-bottom: 1px solid #e8dfec;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.aside .nav li a:not(.active):hover {
    padding-left: 5px;
}

.aside .nav li a .fa {
    margin-right: 5px;
}

.aside .copyright-text {
    /* background-color: #ededed; */
    font-size: 13px;
    color: #7d7d7d;
}


/* Home */

.home {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.home .intro {
    text-align: center;
}
.home .intro img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #ffffff;
}
.home .intro h1{
    font-size: 30px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 20px 0 5px;
}
.home .intro p{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
    color: #504e70;
}
.home .intro .social-links{
    margin-top: 25px;
}
.home .intro .social-links a{
    height: 35px;
    width: 35px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.home .intro .social-links a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}